<section class="section-form">
    <form >
        <h1>Interface para crear nuevos personajes</h1>
        <p>Nombre del personaje</p>
        <input type="text" name="" id="name_personaje">
        <p>Episodio</p>
        <input type="number" name="" id="episode_number">
        <p>Genero del personaje</p>
        <input type="text" name="" id="genero_personaje">
        <p>status</p>
        <input type="text" name="" id="status_personaje">
        <p>species</p>
        <input type="text" name="" id="species_personaje">
        <p>Url de la imagen</p>
        <input type="text" id="Url_picture">
        <button id="Enviar_datos">Enviar formulario</button>
    </form>
</section>


